# Editors

.vscode
*.swp
*.swo

# Documentation

/docs/book

# Rust crates

/target

/crates/jco/tests/rundir
/crates/jco/tests/output
/crates/jco/tests/gen

# NodeJS pckages

node_modules

/jco.sh

/packages/jco/src/**/*.d.ts
/packages/jco/src/**/*.d.ts.map
/packages/jco/test/output
/packages/jco/obj
/packages/jco/dist
