<!doctype html>
<script type="module">
 if (!("serviceWorker" in navigator)) {
   throw new Error("service worker not available");
 }

 const registration = await navigator.serviceWorker.register("./dist/transpiled/component.js", {
   scope: "/",
 });
 if (registration.installing) {
   console.log("Service worker installing");
 } else if (registration.waiting) {
   console.log("Service worker installed");
 } else if (registration.active) {
   console.log("Service worker active");
 }

 const resp = await fetch("https://example.com");
 console.log("RESPONSE", resp.text());
</script>
